<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang="en">
	<head>
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Web Index</title>
		<link rel="stylesheet" href="../base.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../class.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../37em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../50em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../65em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="visualization.css" type="text/css" media="screen"></link>
	</head>
	<body>
		<div class="wrapper">
			<header class="site_header">
				<div class="green_line"></div>
				<div class="W3F">
					<img alt="World Wide Web Foundation" src="../world-wide-web-foundation.png" />
				</div>
				<img class="web-index" alt="Web Index" src="../web-index.png" />
				<a class="donate">Donate Now</a>
				<div class="header-content">
					<div class="search">
						<img alt="" class="magnifier" src="../magnifier.png" />
						<input type="text" placeholder="Search" />
					</div>
					<div class="navigation">
						<nav class="right">
							<a class="nav-link link-selected" alt="Visualizations" href="visualizations.html"><span>Visualisations</span></a>
							<a class="nav-link" alt="News" href="../news.html"><span>News &amp; Media</span></a>
							<a class="nav-link" alt="Contact" href="../contact.html"><span>Contact</span></a>
						</nav>
						<nav class="left">
							<a class="nav-link" alt="Home" href="../index.html"><span>Home</span></a>
							<a class="nav-link" alt="About" href="../about.html"><span>About</span></a>
							<a class="nav-link" alt="Index" href="../webindex.html"><span>Index</span></a>
						</nav>
					</div>
				</div>
			</header>
			<div class="main">
				
				<div class="sidebar-menu">
					<nav>
						<ul class="circles">
							<li class="circle selected">A</li>
							<li class="circle">B</li>
							<li class="circle">C</li>
							<li class="circle">D</li>
						</ul>
					</nav>
				</div>
				<div class="main-layout-index">
					<header>
						<p class="breadcrumbs">
							Indicators &gt; Readiness &gt; A
						</p>
						<div class="column-left">
							<h1 class="country">A</h1>
							<h2 class="region">Readiness</h2>
						</div>
						<div class="column-right">
							
						</div>
					</header>
					<img alt="" src="img/barras.png" style="width:100%;margin-bottom:1em;" />
					<img alt="" src="img/tiempo.png" style="width:100%;margin-bottom:2em;" />
					<table class="data">
						<tr>
							<th>Countries</th>
							<th>2009</th>
							<th>2010</th>
							<th>2011</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
							<td class="value">
								<span class="number">100.2</span>
								<span class="ranking">9</span>
							</td>
							<td class="value">
								<span class="number">100.3</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
							<td class="value">
								<span class="number">200.2</span>
								<span class="ranking">10</span>
							</td>
							<td class="value">
								<span class="number">200.3</span>
								<span class="ranking">10</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
							<td class="value">
								<span class="number">300.2</span>
								<span class="ranking">13</span>
							</td>
							<td class="value">
								<span class="number">300.3</span>
								<span class="ranking">10</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
							<td class="value">
								<span class="number">400.2</span>
								<span class="ranking">9</span>
							</td>
							<td class="value">
								<span class="number">400.3</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
				</div>

				
			</div>
			<footer>
				<div class="navigation">
					<nav>
						<ul>
							<li>
								<a class="nav-link-footer">About</a>
								<ul class="sub-nav">
									<li>About the Web Index</li>
									<li>FAQs</li>
									<li>Methodology</li>
									<li>Expert Survey</li>
									<li>Who We Are</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Index</a>
								<ul class="sub-nav">
									<li>Web Index</li>
									<li>Downloads</li>
									<li>The Data</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Visualisations</a>
							</li>
							<li>
								<a class="nav-link-footer">News &amp; Media</a>
								<ul class="sub-nav">
									<li>News</li>
									<li>Press</li>
									<li>Videos / Interviews</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="red_line">
					<nav class="right">
						<a class="nav-link-footer">Terms of Use</a>
						<a class="nav-link-footer">Privacy Policy</a>
					</nav>
					<div class="copyright">
						&copy; 2013 World Wide Web Foundation.This work is licensed under 
						<a title="Creative Commons 3.0" href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a>.
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>