<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang="en">
	<head>
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Web Index</title>
		<link rel="stylesheet" href="../base.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../class.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../37em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../50em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="../65em.css" type="text/css" media="screen"></link>
		<link rel="stylesheet" href="visualization.css" type="text/css" media="screen"></link>
	</head>
	<body>
		<div class="wrapper">
			<header class="site_header">
				<div class="green_line"></div>
				<div class="W3F">
					<img alt="World Wide Web Foundation" src="../world-wide-web-foundation.png" />
				</div>
				<img class="web-index" alt="Web Index" src="../web-index.png" />
				<a class="donate">Donate Now</a>
				<div class="header-content">
					<div class="search">
						<img alt="" class="magnifier" src="../magnifier.png" />
						<input type="text" placeholder="Search" />
					</div>
					<div class="navigation">
						<nav class="right">
							<a class="nav-link link-selected" alt="Visualizations" href="visualizations.html"><span>Visualisations</span></a>
							<a class="nav-link" alt="News" href="../news.html"><span>News &amp; Media</span></a>
							<a class="nav-link" alt="Contact" href="../contact.html"><span>Contact</span></a>
						</nav>
						<nav class="left">
							<a class="nav-link" alt="Home" href="../index.html"><span>Home</span></a>
							<a class="nav-link" alt="About" href="../about.html"><span>About</span></a>
							<a class="nav-link" alt="Index" href="../webindex.html"><span>Index</span></a>
						</nav>
					</div>
				</div>
			</header>
			<div class="main">
				
				<div class="sidebar-menu">
					<nav>
						<ul class="circles">
							<li class="circle">2009</li>
							<li class="circle selected">2010</li>
							<li class="circle">2011</li>
						</ul>
					</nav>
				</div>
				<div class="main-layout-index">
					<header>
						<p class="breadcrumbs">
							Years &gt; 2010
						</p>
						<div class="column-left">
							<h1 class="country">2010</h1>
						</div>
						<div class="column-right">
							
						</div>
					</header>
					<h3 class="title"><span>Web Index Ranking</span></h3>
					<img alt="" src="img/barras.png" style="width:100%;margin-bottom:2em;" />
					<div class="indicator-side-name">
						<span class="indicator-name">A</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">B</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">C</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">D</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
				</div>

				
			</div>
			<footer>
				<div class="navigation">
					<nav>
						<ul>
							<li>
								<a class="nav-link-footer">About</a>
								<ul class="sub-nav">
									<li>About the Web Index</li>
									<li>FAQs</li>
									<li>Methodology</li>
									<li>Expert Survey</li>
									<li>Who We Are</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Index</a>
								<ul class="sub-nav">
									<li>Web Index</li>
									<li>Downloads</li>
									<li>The Data</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Visualisations</a>
							</li>
							<li>
								<a class="nav-link-footer">News &amp; Media</a>
								<ul class="sub-nav">
									<li>News</li>
									<li>Press</li>
									<li>Videos / Interviews</li>
								</ul>
							</li>
							<li>
								<a class="nav-link-footer">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="red_line">
					<nav class="right">
						<a class="nav-link-footer">Terms of Use</a>
						<a class="nav-link-footer">Privacy Policy</a>
					</nav>
					<div class="copyright">
						&copy; 2013 World Wide Web Foundation.This work is licensed under 
						<a title="Creative Commons 3.0" href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a>.
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>