body {
	font-family: 'trebuchet MS', verdana, arial, sans-serif;
}

.row {
	margin-bottom: 1%;
}

#indicators-container {
	height: 30em;
	overflow-y: scroll;
	font-family: 'trebuchet MS', verdana, arial, sans-serif;
	font-size: 10pt;
}

.title0 {
	text-transform: uppercase;
	font-weight: bold;
}

.title1 {

}

.title2 {

}

.country-list {
	font-size: 8.6pt;
}

#world-map {
	height: 30em;
}

.magnifier {
	background-color: #99ca3c;
	border: none;
	padding: 4px 0px;
	line-height: 0px;
}

.list-content
{
	display: none;
}

.list-element0
{

}

.list-element1
{
	margin-left: 10px;
}

.list-element2
{
	margin-left: 5px;
}

.indicator-list .active-node a
{
	color: #000;
}

.indicator-list .active-node:before
{
	content: "\25A0";
	position: absolute;
	left: -8px;
	font-size: 7pt;
}

.indicator-link:hover:before
{
	content: "\25A0";
	position: absolute;
	left: -8px;
	font-size: 7pt;
}

.indicator-list section
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0.5em;
}

.indicator-list section p
{
	margin-bottom: 0.5em;
}

.indicator-section
{
	border-bottom: 1px solid #ccc;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #c92127;
	border: none;
	height: .8em;
	width: 40%;
	top: 0%;
	border-radius: 0px;
	margin-left: -20%;
}

.bgline {
	background-image: url('../img/bg-line.png');
	background-size: 100% contain;
	height: 1em;
	text-transform: uppercase;
}

.bgline-text {
	background: white;
	font-size: 1em;
	font-weight: normal;
	color: #aaa;
	line-height: 1em;
	height: 1em;
	margin: 0px;
	padding-right: 10px;
}

.blank {
	background-color: white;
	width: 20%;
	padding-right: 10px;
}

.ui-corner-all {
	border-radius: 0px;
}

.ui-widget-content {
	/*margin-left: 8.33333%em;*/
	background: #fff;
	border: none;
}

.centered {
	text-align: center;
}

/*
.year-selector
{
	color: #88b23d;
}

.year-selector-slider {
	margin-left: 18.33333%;
	margin-right: 18.33333%;
	margin-left: 0;
	margin-right: 0;
	background: #ccc;
}

.year-selector-wrapper {
	background: #ccc;
}

.available-years div
{
	margin-top: 8px;
	font-size: 1.1em;
	font-weight: 100;
}

.year-name-selected
{
	color: #000;
	cursor: default;
}

.year-name
{
	cursor: default;
}
*/

/* Year selector */

#year-selector {
	height: auto;
}

.slider-year {
	background-color: #ccc;
}

.slider-year-selected {
	background-color: #c92127;
}

.slider-year-name {
	text-align: center;
	font-family: 'trebuchet MS', verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
	color: #88b23d;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.slider-year-name-selected {
	text-align: center;
	font-family: 'trebuchet MS', verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
	color: #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.slider-year-container {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.slider-year-container div {
	display: inline-block;
}

#indicator-info h3 {
	padding-top: 0;
	margin-top: -3px;
}

#indicator-info p {
	font-size: .65em;
	text-align: justify;
}

#indicator-info h3, .rank-header .tendency-score {
	font-size: 1em;
}

.rank-header {
	line-height: 1.5em;
}

#indicator-info h4, .rank-header {
	font-size: 0.65em;
	text-transform: uppercase;
	padding: 0;
	color: #6f6f6f;
}

.progress-score, .tendency-score {
	color: #000;
	font-size: 0.7em;
	font-weight: bold;
	text-align: right;
	padding: 0;
}

.score-bar {
	margin-left: 0;
	margin-top: 2px;
	padding: 0;
	background-color: #d4e8af;
	border: none;
	height: 20px;
}

.score-progress {
	background-color: #91bf39;
	height: 100%;
	display: block;
}

#indicator-rank, #wi-rank {
	font-size: 1.75em;
	font-weight: bold;
	padding: .1em;
	
}

.indicator-rank {
	margin-top: .50em;
	padding-left: 0px;
}

#indicator-value, #wi-indicator-value {
	padding: 0 20px 0 10px;
}

#indicator-tendency, #wi-indicator-tendency {
	padding-right: 0;
}

#indicator-tendency img, #wi-indicator-tendency img {
	max-width: none;
}

#indicator-tendency #tendency-arrow, #wi-indicator-tendency #wi-tendency-arrow {
	padding-right: 0;
	margin-right: 0;
	text-align: right;
}

#compare {
	border: none;
	border-top: 1px solid #e5f4ca;
	background: #9acc3d;
	background: -webkit-gradient(linear, left top, left bottom, from(#aadf48), to(#9acc3d));
	background: -webkit-linear-gradient(top, #aadf48, #9acc3d);
	background: -moz-linear-gradient(top, #aadf48, #9acc3d);
	background: -ms-linear-gradient(top, #aadf48, #9acc3d);
	background: -o-linear-gradient(top, #aadf48, #9acc3d);
	color: white;
	text-decoration: none;
	vertical-align: middle;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	font-size: 0.8em;
	margin-top: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}
   
#compare:hover {
   border-top-color: #79b304;
   background: #79b304;
   color: #ffffff;
}
   
#compare:active {
   border-top-color: #718054;
   background: #7dab20;
}

/* Tabla países */

div.country-table {
	float: left;
	font-family: "Verdana";
	font-size: 0.7em;
	background-color: #fff;
}

div.country-table table
{
	border: none;
}

div.country-table table tr:nth-of-type(even)
{
	background-color: #fff;
}


div.country-table td.region {
	color: #000;
	cursor: pointer;
}

div.country-table td.country {
	color: #669900;
	padding: 1px 15px;
	cursor: pointer;
}

div.country-table td.country:hover, div.country-table td.country-hover {
	color: #fff;
	background-color: #669900;
	padding: 1px 15px;
}

#left-bar {
	padding-left: 0px;
}

#region-title {
	font-size: 0.8em;
	color: #91bf39;
}

#country-title {
	font-size: 1.2em;
}

#flag {
	padding-right: 0;
	text-align: right;
}

#country-info {
	padding-right: 0;	
	margin-top: 2px;
}

#country-extra {
	padding-right: 0;
}

#country-map {
	text-align: right;
	padding-right: 0;
	width: 100px;
	height: 100px;
	margin-top: 15px;
}

.organizations-title {
	font-size: 0.5em;
}

.organization-name {
	margin-top: 8px;
	border: 1px solid #91bf39;
	text-align: center;
	color: #91bf39;
	font-size: 0.9em;
	padding: 1px 0px;
}

.organization-name.margin-left {
	margin-right: 4px;
}

.organization-name.margin-right {
	margin-left: 4px;
}

.indicator-score-bar-svg {
	width: 100%;
	height: 20px;
	background-color: #d4e8af;
}

.no-display {
	display: none;
}

.chart {
	font: 10px sans-serif;
}

.big-trend {
	float: right;
}

.progression-year {
	color: #88b23d;
	text-align: right;
	font-size: 1.2em;
}

.progression-text {
	text-transform: uppercase;
	font-size: 0.6em;
}

.organization-bar {
	background-color: #dfdfdf;
	color: #555;
	font-size: 0.8em;

}

.organization-bar .row {
	margin: 0px 10px;
}

.organization-title {
	font-size: 1.3em;
	margin-top: 10px;
	color: #333;
}

.organation-bar-chart {

}

.organation-score-bar {
	padding: 0;
	background-color: #ccc;
	border: none;
	height: 20px;
}

.organization-meter {
	background-color: #555;
	height: 100%;
	display: block;
}

.organization-score {
	margin: 0px 10px;
}

#organization-selector {
	padding: 10px;
}

.organization-arrow {
	text-align: right;
}

.organization-rank-header {
	font-size: 0.65em;
	text-transform: uppercase;
	padding: 0;
	color: #6f6f6f;
}

.organization-blank {
	background-color: #dfdfdf;
	width: 30%;
	padding-right: 10px;
}

.bgline-organization {
	background-image: url('../img/bg-line-organization.png');
	background-size: 100% contain;
	height: 1em;
	text-transform: uppercase;
}